<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active" data-toggle="dropdown">
        <a href="/index"><span class="glyphicon glyphicon-home"></span>HOME</a>
      </li>


        <li class="draopdown">
          <a href="site-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> PLOTLY <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/plotly_test">Simple Graph</a></li>
              <li><a href="/graph_2d">Graph Ani</a></li>
              <li><a href="/graph_my2d">My Graph</a></li>
            </ul>
        </li>



       <li class="dropdown">
          <a href="site-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> ETHEREUM <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/simple-contract">Contract</a></li>
              <li><a href="/simple-auction">Auction</a></li>
              <li><a href="/accounts">Accounts</a></li>
              <li><a href="/token-wallet">Token Wallet </a></li>
              <li><a href="/ballot"">Ballot</a></li>
              <li><a href="/blockchain-explorer">Blockchain Explorer</a></li>
              <li><a href="/tictactoe">TicTacToe</a></li>
            </ul>
        </li>

        <li class="dropdown">
          <a href="site-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> STEEM <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/simple-steem">Steam Posting</a></li>
              <li><a href="/steem-json-parsing">Steem Json Parsing</li>
              <li><a href="/steemit-api-test">Steemit API TEST</a></li>
            </ul>
        </li>

        <li class="dropdown">
          <a href="site-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> APIs<span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="/openweather">Open Weather Api TEST</a></li>
            </ul>
        </li>


    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/soorichu/openchain_nodejs"></span>site github</a>
      </li>
    </ul>
  </div>
</nav>
