<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Django TEST</h2>
<hr/>

<p> This is Python TEST</p>
</div>

</body>
</html>
