<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Python File TEST</h2>
<hr/>

<p> This is Python TEST</p>
<ui>
	<li>Name : <%= name %> </li>
	<li>Age : <%= age %> </li>
	<li>DATE : <%= month*100 + day %></li>
</ui>
</div>

</body>
</html>
