<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2><%= title %></h2>
<hr/>

<p> <%= reference %></p>
  <div class='column column-40'>
    <div class="row">
      <label>y= </label>
      <input type='text' id='yfunc' value="x^2" />
      <input type='submit' id='submit' value="graph" style="height:40px;" onclick="DrawGraph();" />
    </div>

  </div>

  <div id="graph" style="height:800px;"></div>


</div>

<script>

 function DrawGraph(){
  var n = 500;
  var max = 20;
  var min = -20;
  var x = 0;
  var x_value = [];
  var y_value = [];
  var y = "x^2";

  for(var i=0; i<n; i++){
    x = min + (max-min)*i/n;
    x_value[i] = x;
    y = document.getElementById('yfunc').value;
    y_value[i] = eval(y.replace("^", "**"));
    y = "y="+y;
  }
  GRAPH = document.getElementById('graph');
  Plotly.plot(GRAPH, [{
    x: x_value,
    y: y_value,
    name : y
  }], {ratio: { x: 1, y: 1 }});
  console.log(Plotly.BUILD)
}
</script>

</body>
</html>
