<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>TEST SITE</h1>
        <p> 본 사이트의 구성은 다음과 같습니다.  </p>
    <ul>
      <li>Plotly : 수학 그래프 구현</li>
      <li>Ethereum : 이더리움 DApp (Metamask 필요)</li>
      <li>SteemIt : 블럭체인 포스팅 스팀잇 DApp</li>
    </ul>
        <hr/>
    <p> 이 사이트는 공부하려고 만든 사이트 입니다. 다음을 이용하여 만들어 졌습니다. </p>
    <ul>
      <li>서버 : <a href="https://heroku.com">헤로쿠(Heroku)</a></li>
      <li>이용 : <a href="https://nodejs.org">NodeJS</a>를 주로 이용함.</li>
      <li>만든이 : 정수영(인천정보산업고 soorichu@gmail.com)</li>
      <li>홈페이지 <a href="http://haipin.ivyro.net">haipin.ivyro.net</a> 혹은 <a href="http://soori.ivyro.net/test">soori.ivyro.net/test</a>를 이용해주시기 바랍니다. </li>
      <li>주의 : 무료 서버라 동시 접속 및 일일 접속이 제한되오니 이용을 자제해주시기 바랍니다.</li>
    </ul>

  </div>
</div>


</body>
</html>
