<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body class="city">
<% include ../partials/nav.ejs %>
	<div class="container">
		<fieldset>
			<h2><%= title %></h2>
			<hr/>

			<p> <%= reference %></p>
			
			<form action="/" method="post">
				<input name="city" type="text" class="ghost-input" placeholder="Enter City" required>
				<input type="submit" class="ghost-button" value="Get Weather">
			</form>

			<% if(weather !== null){ %
				<p><% weather %></p>
			<% }else if(error !==null){ %>
				<p><% error %></p>
			}

			</div>
		</fieldset>

	</body>
</html>
