<html>
<head>  
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>
<div class="container">
<h2>Steemit API test</h2>
Name : <input id="id" type="text"><br/>
password : <input id="password" type="password" size="65"><br/>
<input id="login" type="button" value="Login" onclick="loginFunction()"><br/><br/>

TAGS : <p id="getTrendingTags"></p>
<input id="postIt" type="button" value="TEST!" onClick="steemitApiTest()"><br/><br/>

<script language="JavaScript">

$(document).ready(function() { 
	steem.api.setWebSocket("https://steemit.com/@comnic");

 });


function loginFunction()
{
	steem.api.getAccounts(document.getElementById("id").value, document.getElementById('password').value, function(err, response){
		alert('getAccounts');
	    if(err){
	    	alert('Error! : ' + err);
	    }else{
	    	alert('Success! : ' + response);
	    }
	});
}

function steemitApiTest()
{
  steem.api.getTrendingTags("*", 10, function(err, result) {
    document.getElementById("getTrendingTags").innerHTML = result;
    alert('steemitApiTest');
    if (err)
        alert('Failure! ' + err);
    else
        alert('Success!');
  });



}
</script>
</div>
</body>
</html>