<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>지갑</h1>
  </div>
</div>

<div class="container">

  <div>
    <p>this is for wallet</p>
  </div>
</div>


</body>
</html>
